<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'NuevaApp/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'NuevaApp/js/bootstrap.min.js'%}">
    <link rel="stylesheet" href="{% static 'NuevaApp/css/style.css'%}">
    <title>Inicio | App</title>
</head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg fixed-top bg-dark"  id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand navText" href="{% url 'inicio' %}" style="color: white;">Free Market</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link navText" href="{% url 'usuarios' %}" style="color: white;">Usuarios</a></li>
                        <li class="nav-item"><a class="nav-link navText" href="{% url 'juegos' %}" style="color: white;">Juegos</a></li>
                        <li class="nav-item"><a class="nav-link navText" href="{% url 'perifericos' %}" style="color: white;">Perifericos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="bienvenido">
            Tus juegos al mejor precio del mercado
        </div>
        <div class="contenido">
            {% block contenidoQueCambia %}
            {% endblock %}
        </div>
        
        <!-- <div class="imagen">
        <img src="https://png.pngtree.com/background/20230519/original/pngtree-display-of-old-games-and-consoles-picture-image_2652598.jpg">
        
    </div> -->
</body>
</html>